@model GPBOL.Goal

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Goal</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GoalId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoalId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.GoalName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoalName)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>